/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.cache
/.parcel-cache
/dist
/tags
/extension
/pure_tabs.xpi

**/*.egg-info/
**/__pycache__/
**/.pdm-python
